.error__title--success{
  background-color: #24b14f;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4d88f), to(#4c9243));
  background: -webkit-linear-gradient(top, #a4d88f, #4c9243);
  background: -o-linear-gradient(top, #a4d88f, #4c9243);
  background: linear-gradient(top, #a4d88f, #4c9243);
}

.card-post__img {
	background-color: #fff;
}

.button--delete{
  font-size: 16px;
  height: 44px;
  padding-top: 0.68em;
}

.button--small{
  font-size: 14px;
  height: 2.2em;
}

.file-upload__thumb {
  width: 320px;
}

/*.page-content{
  height: 300px;
  background: green;
  
}*/

html, body{
  height: 100%;
}

body::before{
  content:none;
  display: none;
}

.stiky-footer{
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
      -webkit-justify-content: space-between;
              justify-content: space-between;
}
