.header-admin {
  padding: 45px 30px 45px 19px;
}

.error__title--success{
  background-color: #24b14f;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4d88f), to(#4c9243));
  background: -webkit-linear-gradient(top, #a4d88f, #4c9243);
  background: -o-linear-gradient(top, #a4d88f, #4c9243);
  background: linear-gradient(top, #a4d88f, #4c9243);
}

.card-post__img {
	background-color: #fff;
}

.card-portfolio__img{
  background-color: #fff;
}


.single-work-title .button{
  position: relative;
}

.button--delete{
  font-size: 16px;
  height: 44px;
  padding-top: 0.68em;
}

.button--small{
  font-size: 14px;
  height: 2.2em;
  padding-top: 0.5em;
}

.file-upload__thumb {
  width: 320px;
}

/*.page-content{
  height: 300px;
  background: green;
  
}*/

html, body{
  height: 100%;
}

body::before{
  content:none;
  display: none;
}

.stiky-footer{
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
      -webkit-justify-content: space-between;
              justify-content: space-between;
}

.about-text h3{
  font-weight: 800;
  margin-bottom: 10px;
}


/*indicator*/
.indicator{
  position: relative;
  display: inline-block;
}

.indicator__value{
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -57%);
}

.circle{

}

.circle__bg{
  fill: transparent;
  stroke-width: 10px;
  stroke: rgba(226,226,226,0.05);
}
.circle__indicator{
  fill: transparent;
  stroke-width: 10px;
  stroke: rgba(255,255,255,0.05);

  transform-origin: center center;
  transform: rotate(-90deg);
}

.circle__indicator--yellow{
  fill: transparent;
  stroke-width: 10px;
  stroke: #ffcc00;
}

.circle__indicator--green{
  fill: transparent;
  stroke-width: 10px;
  stroke: #3aaa35;
}

.circle__indicator--blue{
  fill: transparent;
  stroke-width: 10px;
  stroke: #009cf5;
}

/*indicator*/